# Gradle / Android
.gradle/
build/
app/build/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Android Studio
.idea/
*.iml
*.hprof

# OS
.DS_Store
Thumbs.db

# Kalitlar hech qachon repoga tushmaydi
*.jks
*.keystore
keystore.properties
